body{
    border: 1px solid green;
    background: lightskyblue;
    margin: 0;
    padding: 0  ;
}
#principal{
    width: 700px;
    background-color: white;
    margin: 1em auto;
    padding: 0.8em;
    position: relative;
}
#topo{  
    background: #0497f3;
    padding: 1em;
}

a{
    color: white;
    text-decoration: none;
    padding: 0.4em;
    border-radius: 0.2em;
}
a:hover{
    background-color: white;
    color: #0497f3;

}

.novo{
    position: absolute;
    top: 0;
    right: 0;
}

.chat{
    background-color: violet;
    width: 150px;
    height: 200px;
    padding: 0.3em;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}